@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    border: none;
    margin: 0;
    box-sizing: border-box;
    outline:none;
    text-decoration: none;
    font-family:"poppins", sans-serif;

}

html{
    font-size: 62.5%;
}

body{
    /* makes the body to cover 100% of the size of the screen */
    width: 100%;
    /* occupoies the viewpoint height */
    height: 100vh;
    /* this overflow custs out/ deesnt show content that overflows to the left most point of the screen */
    overflow-x: hidden;
    /* black background instead of the default white */
    background-color: black;
    color: white;
}

header{
    /* the header is fixed even when one scrolls */
    position:fixed;
    /*  a margin of 20px on top */
    margin-top:20px;
    top:0;
     left:0;
    /* this width defines that the content in the footer tag to occupy 100% width in the viewpoint */
    width:100%;
    /* places content of the tags inside the selected tag side by side */
    display: flex;
    /* jistofy - content equally spaces out the content that has been flexed */
    justify-content: space-between;
    /* adds padding to the content */
    padding:1rem 9%;
    background-color:transparent;
    align-items: center;
    z-index: 100;
    filter:drop-shadow(10px)

}

.logo {
    /* 
    In CSS, em is a unit of measurement that is relative to the 
    font size of the element or its parent. Specifically, 1em is equal 
    to the current font size. Therefore: 3em means that the font size will
     be three times the size of the current font. */
    font-size: 3rem;        /* Sets the font size to 3em, making it larger than standard text. */
    color: brown;          /* Sets the text color to brown. */
    font-weight: 800;      /* Makes the text very bold. */
    cursor: pointer;       /* Changes the cursor to a pointer when hovering over the element, indicating it's clickable. */
    transition: 0.5s ease; /* Adds a smooth transition effect that takes 0.5 seconds for any changes in properties. */
}

/* .logo:hover is a class-based pseudo-class selector that targets
 elements with the logo clzzass only when they are hovered over. */
.logo:hover{
    transform: scale(1.1);
    /* this changes the color to white on hover */
    color: white;
    padding:2px;
    border-right:3px solid white;
    border-left:3px solid white;
}

/* this selects all a tags in the nav tag  */
nav a{
    color: white;
    font-size:1.8rem;
    margin-left: 4rem;
    transition: 0.3s ease;
    font-weight: 500;
    border-bottom: 3px solid transparent;

}

nav a:hover,
nav a.active{
    color:brown;
    border-bottom:3px solid brown;
}

.home{
    /* this property ensure that contents of 
    this section's height is as big 
    as the height of the window theyre 
    being displayed */
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8em;
    background-color: black;

}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color:brown;
}

.home-content p{
    font-size:1.6rem;
}

.home-img{
    border-radius:50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    cursor:pointer;
    transition: 0.2s linear;
    box-shadow: 0 0 25px solid brown;
}

.home-img img:hover{
    font-size:1.8rem;
    font-weight: 500;
    
}

.social-icons a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0.2rem solid brown;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color:brown;
    width: 4rem;
    height: 4rem;

}

.social-icons a:hover{
    color:cadetblue;
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px brown;
}

.btn{
    display:inline-block;
    color: #b74b4b;
    font-size: 3rem;
    border: 3px #b74b4b solid;
    transition: 0.3s ease;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    letter-spacing: 0.3rem;
    font-weight:600;
    cursor:pointer;

}

.btn:hover{
    color: white;
    transform: scale3d(1.03);
    /* adds glow effect */
    box-shadow: 0 0 25px #b74b4b;
    /* background-color:#b74b4b; */
}

.text{
    font-family: poppins;
    font-weight: 600;
    transition: 0.3s ease;
    cursor:pointer;
}

.text:hover{
    color:chocolate;
    
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width:280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Software Engineer";
    color: #b74b4b;
    animation: words 20s infinite;
}

.typing-text span::after{
    content:"";
    background-color: black;;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    right: - 8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;
    }
}

@keyframes words{
    0%, 20%{
        content: "Web Developer";
    }
    21%, 40%{
        content: "Computer Hardware Engineer";
    }
    41%, 60%{
        content: "Web Designer";
    }
    61%, 80%{
        content: "Graphics Designer";
    }
    81%, 100%{
        content: "Video Editor";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}
@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}

.projects{
    height: 50vh;
}
.projecthead{
    color:white;
    position: relative;
    
    /* width: fit-content; */
    align-items: center;
    text-align: center;
    transition: 0.3px ease;
    font-size: 3em;
    cursor:pointer;
}

.projecthead:hover{
    color:#b74b4b;
    border-bottom: 3px white solid;

}

.workdone{
    display: flex;

    
}

.projectcontainer{
    background-color: transparent;
    margin: 7px;
    border:#b74b4b solid 2px;
    border-radius: 3rem;
    padding: 5px;
    
}

.projectname{
    text-align: center;
    font-weight: 800;
    font-size: 2.5rem;
    color:#b74b4b;
    transition: 0.3s ease;
    cursor:pointer;

}
.projectname:hover{
    color:white;
    transform: scale(1.2);
    /* border-bottom: #b74b4b solid 3px; */

}

.projectcontent{
    text-align:center;
    font-weight: 500;
    font-size:1.6rem;
    margin-bottom: 10px;
}

.chomabtn{
    text-align: center;
    border-radius: 5rem;
    font-size:3rem;
    color:#b74b4b;
    align-items: center;
    border: solid white 3px;
    padding: 4px;
    

}




