@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    border: none;
    margin: 0;
    box-sizing: border-box;
    outline:none;
    text-decoration: none;
    font-family:"poppins", sans-serif;
}