@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    border: none;
    margin: 0;
    box-sizing: border-box;
    outline:none;
    text-decoration: none;
    font-family:"poppins", sans-serif;

}

html{
    font-size: 62.5%;
}

body{
    /* makes the body to cover 100% of the size of the screen */
    width: 100%;
    /* occupoies the viewpoint height */
    height: 100vh;
    /* this overflow custs out/ deesnt show content that overflows to the left most point of the screen */
    overflow-x: hidden;
    /* black background instead of the default white */
    background-color: black;
    color: white;
}

header{
    /* the header is fixed even when one scrolls */
    position:fixed;
    /*  a margin of 20px on top */
    margin-top:20px;
    /* top:0; */
    /* left:0; */
    /* this width defines that the content in the footer tag to occupy 100% width in the viewpoint */
    width:100%;
    /* places content of the tags inside the selected tag side by side */
    display: flex;
    /* jistofy - content equally spaces out the content that has been flexed */
    justify-content: space-between;
    /* adds padding to the content */
    padding:1rem 9%;
    background-color:transparent;
    /* align-items: center; */
    z-index: 100;
    filter:drop-shadow(10px)

}

.logo {
    /* 
    In CSS, em is a unit of measurement that is relative to the 
    font size of the element or its parent. Specifically, 1em is equal 
    to the current font size. Therefore: 3em means that the font size will
     be three times the size of the current font. */
    font-size: 3rem;        /* Sets the font size to 3em, making it larger than standard text. */
    color: brown;          /* Sets the text color to brown. */
    font-weight: 800;      /* Makes the text very bold. */
    cursor: pointer;       /* Changes the cursor to a pointer when hovering over the element, indicating it's clickable. */
    transition: 0.5s ease; /* Adds a smooth transition effect that takes 0.5 seconds for any changes in properties. */
}

/* .logo:hover is a class-based pseudo-class selector that targets
 elements with the logo class only when they are hovered over. */
.logo:hover{
    transform: scale(1.1);
    /* this changes the color to white on hover */
    color: white;
}

/* this selects all a tags in the nav tag  */
nav a{
    color: white;
    font-size:1.8rem;
    margin-left: 4rem;
    transition: 0.3s ease;

}

nav a :hover,
/* a.active targets a tag with the class active */
nav a.active{
    color:brown;
    border-bottom:3px dotted brown;
}

section{
    /* this property ensure that contents of 
    this section's height is as big 
    as the height of the window theyre 
    being displayed */
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{ 
    display: flex;
    justify-content: center;
    align-items: center;
}